/* Hero Section */
.hero {
  height: 100vh;
  background: linear-gradient(135deg, #985b05, #a37604);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 4rem 0;
  width: 100%; /* full width */
}

.heroTitle{
  color: #c2bc0a;
}

/* Paragraph */
.hero p {
  color: #e0e0e0;
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 500px;
}


/* CTA Button */
.cta-btn {
  display: inline-block;
  background: linear-gradient(90deg, #a9a408, #9fa205);
  color: #fff;
  font-weight: 600;
  padding: 0.9rem 3rem;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1rem;
  box-shadow: 0 5px 15px rgba(240, 157, 1, 0.4);
  transition: all 0.3s ease;
}

.cta-btn:hover {
  background: linear-gradient(90deg, #b6b005, #d2d507);
  box-shadow: 0 8px 20px rgba(236, 202, 12, 0.6);
  transform: translateY(-2px);
}

/* Blob divider */
.blob-divider svg {
  display: block;
  width: 100%;
  height: auto;
}

/* Responsive */
@media (max-width: 992px) {
  .hero {
    height: auto;
    padding: 6rem 1rem 4rem;
    text-align: center;
  }

  .hero h1 {
    font-size: 2rem;
    text-align: center;
  }

  .hero p {
    text-align: center;
    margin: 0 auto;
  }

  .glass-card {
    height: 400px;   /* ⬇️ smaller for tablet/mobile */
  }

  .glass-card img {
    height: 100%;
  }

  .cta-btn {
    margin: 0 auto;
  }
}

/* Global smooth scroll */
html {
  scroll-behavior: smooth;
}
